@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --nunito: "Nunito Sans", sans-serif;
  --caveat: "Caveat", cursive;
  --quicksand: "Quicksand", sans-serif;
  --itim: "Itim", cursive;
  --inter: "Inter", sans-serif;
}

body {
  color: #111;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--caveat);
  font-weight: 700;
  font-size: 5rem;
}

.container > span {
  animation: heartAnimation 2.5s ease-in-out;
  animation-iteration-count: 1;
  color: #000000;
}

@keyframes heartAnimation {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px rgb(255, 27, 240), 0 0 50px rgb(255, 27, 240),
      0 0 100px rgb(255, 27, 240);
  }

  0%,
  80% {
    color: #000000;
    text-shadow: none;
  }
}

/* Animasi keyframes untuk pergerakan ke bawah */
@keyframes moveDown {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0); /* Atur nilai sesuai keinginan */
  }
}

.container1,
.container2 {
  color: #fff;
  font-size: 40px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: transform 1s ease-in-out;
}

/* Tambahkan kelas untuk memicu animasi */
.container1.slide-down,
.container2.slide-down {
  animation: moveDown 1s forwards;
}

.patas {
  color: #fff;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 0;
}

.lovein {
  background: #fff;
  color: #ff0900;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.apage {
  fill: #000;
}

.arrow {
  /*
  
  background: #000;
  
  */
  fill: #000;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  animation: moveUpDown 2s ease-in-out infinite; /* Ubah nilai durasi animasi atau gaya animasi jika diperlukan */
}

/* Animasi naik turun */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-25px); /* Ubah nilai px sesuai keinginan */
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

.heart {
  fill: red;
  position: relative;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  animation: pulse 2s ease infinite, geserBae 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.container > span:nth-child(2) {
  animation-delay: 0s;
}
.container > span:nth-child(3) {
  animation-delay: 0s;
}
.container > span:nth-child(4) {
  animation-delay: 0.6s;
}
.container > span:nth-child(5) {
  animation-delay: 0.6s;
}
.container > span:nth-child(6) {
  animation-delay: 0.6s;
}
.container > span:nth-child(7) {
  animation-delay: 0.6s;
}
.container > span:nth-child(8) {
  animation-delay: 1.2s;
}
.container > span:nth-child(9) {
  animation-delay: 1.2s;
}
.container > span:nth-child(10) {
  animation-delay: 1.2s;
}
.container > span:nth-child(11) {
  animation-delay: 1.2s;
}
.container > span:nth-child(12) {
  animation-delay: 1.6s;
}
.container > span:nth-child(13) {
  animation-delay: 1.8s;
}

.loading-message {
  font-size: 13px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0; /* Menghilangkan tampilan loading secara default */
}
.content {
  display: none; /* Konten akan disembunyikan secara default */
}

/* Gaya untuk layar dengan lebar kurang dari 600px (misalnya, ponsel) */
@media screen and (max-width: 599px) {
  /* Aturan CSS untuk ponsel */
  body {
    font-size: 2rem;
  }
  .heart {
    fill: red;
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    animation: pulse 2s ease infinite, geserBae 1s ease-in-out infinite;
  }
}

/* Gaya untuk layar dengan lebar antara 600px dan 1023px (misalnya, tablet) */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    font-weight: 400;
    font-size: 3rem;
  }
  /* Tambahan gaya untuk layar tablet */
  /* ... */
  .heart {
    fill: red;
    position: relative;
    top: 0;
    right: -90px;
    width: 100px;
    height: 100px;
    animation: pulse 2s ease infinite, geserBae 1s ease-in-out infinite;
  }
}

/* Gaya untuk layar dengan lebar lebih dari 1023px (misalnya, desktop) */
@media screen and (min-width: 1024px) {
  body {
    font-weight: 700;
    font-size: 5rem;
  }
  /* Tambahan gaya untuk layar desktop */
  /* ... */
}
